

#container div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f46e5;
  color: white;
  font-size: 16px;

  border-radius: 8px;
  box-shadow: 0 4px 8px;
}
